<div class="forgot-page">

  <!-- CONTAINER CENTRAL -->
  <div class="forgot-container">
    <h1 class="title">Reset Password</h1>

    <!-- FORM EMAIL -->
    <form *ngIf="!showCodeForm"
          [formGroup]="emailForm"
          (ngSubmit)="sendCode()"
          class="form-step">

      <div class="input-group">
        <input type="email" formControlName="email" required>
        <label>Email address</label>
      </div>

      <button type="submit" class="btn-send">Send Code</button>
    </form>

    <!-- FORM CODE -->
    <div *ngIf="showCodeForm" class="form-step code-step">

      <p class="info-text">
        Code sent to <strong>{{emailForm.value.email}}</strong>
      </p>

      <div class="timer-container">
        <span class="timer">{{countdown}}s</span>
        <div class="timer-bar" [style.width.%]="(countdown / 90) * 100"></div>
      </div>

      <form [formGroup]="codeForm" (ngSubmit)="verifyCode()">

        <div class="input-group">
          <input type="text" formControlName="code" required>
          <label>Verification code</label>
        </div>

        <button type="submit" class="btn-send">Verify Code</button>
      </form>
    </div>
  </div>

  <!-- ALERT -->
  <div *ngIf="showAlert" class="alert-box" [ngClass]="alertColor" (click)="onAlertClick()">
    <span class="icon">⚡</span>
    {{ alertMessage }}
  </div>

</div>